<CascadingAuthenticationState>
    <CascadingValue Value="user">
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        <text>בבקשה המתינו בזמן שאנחנו מאמתים את המשתמש/ת</text>
                        <LottieAnimation Path="https://lottie.host/embed/6ac45e9a-8291-4c5d-ae78-20ac74d3c82c/NVVGmz2ABh.json"></LottieAnimation>
                    </Authorizing>
                    <NotAuthorized>
                        <text>אין לך הרשאה לצפות בדף זה.</text>
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <PageTitle>Not found</PageTitle>
                    <p role="alert">סליחה, לא נמצא דבר בכתובת זו.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingValue>
</CascadingAuthenticationState>



@code{

    [Inject]
    public IAuthenticationService _Auth { get; set; }

    UserDTO user;

    protected override async Task OnInitializedAsync()
    {
        user = await _Auth.GetUserFromClaimAsync();

    }
}