.vscode
.vs/
bin
obj
*.db
appsettings.json
/.vs
.vs/BlazorGoogleLogin/FileContentIndex/read.lock
.vs/BlazorGoogleLogin/config/applicationhost.config
.vs/BlazorGoogleLogin/v17/.suo
.vs/BlazorGoogleLogin/config/applicationhost.config
.vs/BlazorGoogleLogin/config/applicationhost.config
.vs/BlazorGoogleLogin/config/applicationhost.config
.vs/BlazorGoogleLogin/DesignTimeBuild/.dtbcache.v2
