.scrollDisabled {
    height: 100%;
    overflow: hidden;
}

.highlighted{
    z-index:4;
    background-color:#faf9f9;
    padding:1%;
    border-radius:0.375rem;
}
body {
    background-color: #6775F4;
}
#firstTitle {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

#secondTitle {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.search__container {
    border-radius: 0.375rem;
    background-color: #D6D9F1;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2.4vw;
    column-gap: 1.2vh;
}

.searchWrapper {
    display: flex;
    justify-content: space-evenly;
}

.searchInput {
    width: 74.8vw;
    height: 5.96806vh;
    border-radius: 0.375rem;
    background: #FAF9F9;
    border: none;
}

.outerWrap {
    display: flex;
    row-gap: 2.8vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 5vh;
}

#presentOnBoarding1 {
    display: flex;
    flex-direction: column;
    row-gap: 2.8vh;
    width: 100%;
    align-items: center;
}
#topSectionDiv {
    display: flex;
    flex-direction: column;
}

#topText {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.statusContainer {
    text-align: center;
    border-radius: 0.375rem;
    width: 88.5%;
    margin: auto;
    border: 1px solid #D6D9F1;
    background: #F9F9F9;
    padding-bottom: 2.5vh;
    /* Optional: uncomment for shadow */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures equal column width */
    border-spacing: 0;
}

    .table > :not(:last-child) > :last-child > * {
        border-bottom-color: currentColor;
        padding: 2.5vh 0 0 0;
    }

th, td {
    font-size: 18px; /* Standard font size for content */
    border-bottom: none;
}

    /* Remove borders from the last child of each row */
    th:last-child, td:last-child {
        border-right: none;
    }

thead th {
    background-color: #f9f9f9;
    color: #030942;
    /* font-size: 20px; */
    border-radius: 0.375rem;
    /* text-align: right; */
    font-family: Heebo;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

tbody td {
    color: #030942;
    /* text-align: right; */
    font-family: Heebo;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.primery-button {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 15.375rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    /* h2 - sub titles */
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}


#middleTableCoulmn {
    border-bottom: none;
    border-top: none;
    position: relative;
}

    #middleTableCoulmn:after, #middleTableCoulmn:before {
        position: absolute;
        content: "";
        top: 20%; /* Decreased from 17% to make the line start higher */
        bottom: 2%; /* Decreased from 5% to make the line end lower */
        border-right: 0.2vh solid #D6D9F1;
    }

    #middleTableCoulmn:after {
        right: -1px;
    }

    #middleTableCoulmn:before {
        left: -1px;
        border-right: none;
        border-left: 0.2vh solid #D6D9F1;
        z-index: 1;
    }

#middleTableRow {
    border-bottom: none;
    border-top: none;
    position: relative;
}

    #middleTableRow:after, #middleTableRow:before {
        position: absolute;
        content: "";
        top: 0%;
        bottom: 0%; /* Decreased from 5% to make the line end lower */
        border-right: 0.2vh solid #D6D9F1;
    }

    #middleTableRow:after {
        right: -1px;
    }

    #middleTableRow:before {
        left: -1px;
        border-right: none;
        border-left: 0.2vh solid #D6D9F1;
    }

#fromBudget {
    color: #030942;
    /* text-align: right; */
    font-family: Heebo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leftTableRow {
    padding-bottom: 0;
}

.switch {
    background-color: #D6D9F1;
    transition: .4s;
    border-radius: 34px;
    width: 5em;
    height: 1.3em;
    display: flex;
    align-items: center;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }



.knob {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    background-color: rgb(103, 117, 244);
    transition: all 0.4s ease 0s;
    border-radius: 50%;
}

.spendings {
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.toggleWrap {
    border-radius: 0.3125rem;
    background: #F9F9F9;
    width: 88.5%;
    height: 7.5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
    border: 1px solid #D6D9F1;
    display: flex;
}

.innerToggle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
}


.realToggle {
}

.toggleTitles {
    margin: 0 0 0 0;
    font-size: 1.3125rem;
    font-weight: 600;
}

.toggleTitlesNotChosen {
    margin: 0 0 0 0;
    font-size: 1.3125rem;
    font-weight: 400;
}

.switchSpendings {
    background-color: #D6D9F1;
    transition: .4s;
    border-radius: 34px;
    width: 5em;
    height: 1.3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

#AddNewCat {
    border-radius: 0.6rem;
    border: 2px dashed #6775F4;
    background: #FBFBFB;
    width: 88.5vw;
    height: 8vh;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    column-gap: 1vh;
}

.addTitle {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    color: #6775F4;
    margin: 0;
}

.emoji-circle {
    width: 2em;
    height: 2em;
    background-color: #D6D9F1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);or depth */
}


.fullCategory {
    display: flex;
}

#bottomNav {
    background-color: #F9F9F9;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-content: stretch;
    align-items: center;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); /* Shadow added here */
    position: fixed;
    bottom: 0;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    bottom: 0;
    width: 100%;
    will-change: transform;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for the opacity */
}

#nav-hidden {
    display: none; /* Moves the navbar out of view */
}


.NavLines {
    content: "";
    display: block;
    width: 0.06rem;
    height: 60%;
    background-color: #D6D9F1;
    display: flex;
    align-self: auto;
    right: 14.5vh;
    top: 20%;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    align-items: baseline;
}

.navBtn {
    position: relative;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    justify-content: center;
    row-gap: 0.4vh;
}

.BgOverlay {
    background-color: rgba(1, 5, 43, 0.28);
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.outerStory {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    /* max-width: 500px; */
    padding: 3.5vh;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
    row-gap: 2.4vh;
}


.overlay {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    z-index: 999; /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.registerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: #6775F4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.modal-close-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.storyImg {
    width: 80%;
}

.storyWindow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    justify-content: space-around;
    height: 100%;
}

.progress-nav-bar {
    display: flex;
    justify-content: center;
    width: 70%;
    column-gap: 1vh;
}

.outerStoryPhase {
    width: 100%;
    display: flex;
    justify-content: center;
}

.storyPhase {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 35%;
    height: 1vh;
    border-radius: 0.3rem;
    background-color: #D6D9F1;
}

.storyTitle {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1vh;
}

.firstStoryLike {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.storyTextWrapper {
    display: flex;
    flex-direction: column;
}

.likeIcon {
    font-size: 3rem;
}

.titleFirstStory {
    font-size: 1rem;
    font-weight: 700;
}

.divider {
    background-color: #D6D9F1;
    height: 0.2vh;
}

.titleName {
    font-weight: 600;
}


.outerFirstStory {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-around;
}

.imgWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.outerStory {
    height: 90%;
}

.outerText {
    display: flex;
    flex-direction: column;
}

.outerPhaseAndClose {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1vh;
}

.outerSecondStory {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.storyTag {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 0.25rem;
    width: 5.5rem;
    height: 2rem;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.outerStoryTags {
    display: flex;
    row-gap: 2vh;
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
    padding: 0;
}

.outerPerTag {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ol li::marker {
    background-color: #EDEFF7; /* Change the color of the numbers */
    font-size: 1.2rem; /* Change the size of the numbers */
    font-weight: 700; /* Make the numbers bold */
}

.storyTagNum {
    display: inline-block; /* Use block to allow width and height */
    width: 50px; /* Diameter of the circle */
    height: 50px; /* Diameter of the circle */
    border-radius: 50%; /* Makes the element circular */
    background-color: #e0e4eb; /* Background color of the circle */
    color: #333; /* Color of the number */
    font-size: 24px; /* Size of the number */
    font-family: Arial, sans-serif; /* Font style */
    line-height: 50px; /* Centers the text vertically */
    text-align: center; /* Centers the text horizontally */
    font-weight: bold; /* Makes the font bold */
}

.tagsAmount {
    font-weight: 700;
}

.outerThirdStory {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.outerGraph {
}

.incomeStory {
    border-radius: 0.375rem;
    border: 1.5px solid #D6D9F1;
    background: rgba(255, 255, 255, 0.00);
    padding: 1vh;
    margin-top: 1vh;
    text-align: center;
}

.profileAndStreak {
    position: relative;
    display: inline-block;
}


.profilePic {
    width: 3rem;
    height: 3rem;
    background-color: #F9F9F9;
    border: 3.5px solid #6775F4;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 50%;
    font-size: 1.8rem;
    display: inline-block;
}

.outerTopSection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.streakStatus {
    width: 13vw;
    height: 6vh;
}

.streakBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    z-index: 1;
    top: 33%;
    left: 50%;
    width: 111%;
}

/*.bottom-nav {
    display: block;/ / Make sure it's visible initially */
/
}

/

.mainTitle {
    font-weight: 700;
    font-size: 1.3rem;
}

.weeklyTransAmount {
    font-weight: 400;
    font-size: 1.3rem;
}

.outerInfoText {
}

.closePopUpBtn {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}



.wellDonePopUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    height: 100%;
    justify-content: space-around;
}

.outerInfoText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statusText {
    text-align: center;
}

.registerBgOverlay {
    background-color: rgba(1, 5, 43, 0.28);
    z-index: 3;
}


.outerRegisterInfo {
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 4;
    row-gap: 3vh;
}

.outerLay {
    display: flex;
    bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.registerOuterLay {
    display: flex;
    z-index: 4;
    width: 100%;
}

.paddingDiv {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    width: 90%;
}


.megaOuterLay {
    width: 100%;
}

.registerPaddingDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.outerLogoAndOpeningText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #F9F9F9;
    font-weight: 500;
    z-index: 4;
}

.outerTitleAndIcon {
    display: flex;
    width: 90%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2vh;
}

.catTitle {
    width: 60vw;
    height: 5vh;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    top: -1vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.emoji {
    font-size: 1.6em;
}

.keyBoardAndBtn {
    display: flex;
    justify-content: space-between;
}

.titleAndIcon {
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    /* width: 90%; */
    justify-content: space-evenly;
    align-items: flex-end;
}

#emoji-trigger {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}


.emoji-keyboard {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 80%;
    left: 67%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    width: 943%;
    z-index: 1;
}

    .emoji-keyboard.visible {
        opacity: 1;
        visibility: visible;
        padding: 2vh 5vw;
        width: 142%;
    }

.hideDefaultEmojiBtn {
    display: none;
}

.emoji-categories {
    display: flex;
    justify-content: center;
    gap: 14vw;
    margin-bottom: 1.5vh;
    margin-top: 0.5vh;
}

.outerEmojiBtnAndKeyboard {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    position: relative;
    width: 100%;
}

.outerEmojiKeyboard {
    position: absolute;
    top: -2vh;
    width: 100%;
}

.category-button {
    /* padding: 8px 16px; */
    font-size: 14px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, padding 0.2s;
    font-weight: 600;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 500;
}

    .category-button.active {
        text-decoration: underline;
        text-decoration-color: #6775F4;
        text-decoration-thickness: 0.4vh;
        text-underline-offset: 1vh;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-weight: 600;
    }

.removeKeybord {
    display: none;
}

.cancleEmoji {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    text-decoration-color: #030942;
    text-decoration-thickness: 0.1vh;
    text-underline-offset: 0.7vh;
}


.selectedEmoji {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}

.outerCancleAndEmoji {
    display: inline-block;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.selectedEmoji {
    position: relative;
    border: none; /* Adjust as needed */
    background: none; /* Adjust as needed */
    padding: 5px; /* Adjust padding as needed */
    display: flex;
    align-items: center;
}

.emoji {
    display: inline-block;
    vertical-align: middle;
}

.plusIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px; /* Adjust the size as needed */
    height: auto;
    transition: all 0.3s ease; /* Smooth transition for responsiveness */
}

#emoji-trigger {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}

.category-button {
    /* padding: 8px 16px; */
    font-size: 14px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, padding 0.2s;
    font-weight: 600;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 500;
}

    .category-button.active {
        text-decoration: underline;
        text-decoration-color: #6775F4;
        text-decoration-thickness: 0.4vh;
        text-underline-offset: 1vh;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-weight: 600;
    }


.emoji-section {
    background-color: #EDEFF7;
    border-radius: 0.6em;
}

.dropDownOptionBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    /* text-decoration: underline; */
    /* line-height: 4vh; */
    /* border-bottom: 1px solid #000; */
    /* padding-bottom: 0.2vh; */
    padding: 0.6vh;
}


.outerDaysOptions {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordionPoly {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.outerDaysTitleAndPoly {
    display: flex;
    width: 83%;
}


.outerUserDetails {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.firstLastAndEmoji {
    display: flex;
    flex-direction: column;
    width: 83%;
    row-gap: 3vh;
}

.outerMonthDayOptions {
    display: flex;
    flex-direction: column;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 17px 5px 0px rgba(189, 189, 189, 0.00), 0px 11px 4px 0px rgba(189, 189, 189, 0.02), 0px 6px 4px 0px rgba(189, 189, 189, 0.06), 0px 3px 3px 0px rgba(189, 189, 189, 0.10), 0px 1px 1px 0px rgba(189, 189, 189, 0.12) rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 1);
    justify-content: center;
    width: 100%;
    padding: 0.8vh 0;
    z-index: 2;
    /* margin-top: 4.3vh; */
    align-items: flex-start;
}

.megaOuterDaysOptions {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    width: 83%;
    align-items: flex-start;
    margin-bottom: 2vh;
}

.daydivider {
    background-color: #D6D9F1;
    height: 0.2vh;
    width: 100%;
}

.dropDownTitle {
    width: 60vw;
    height: 5vh;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    top: -0.5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}


.noTagsDiv {
    width: 80%;
    height: 25%;
}

#monthStatusBtn{
    position:relative;

}