body {
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6775F4;
    /*  z-index: 5;
        position:relative;*/
}

.megaOuterLay {
    width: 100%;
}

.registerOuterLay {
    display: flex;
    z-index: 4;
    width: 100%;
}

.registerBgOverlay {
    background-color: rgba(1, 5, 43, 0.28);
    z-index: 3;
}

.outerLogoAndOpeningText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #F9F9F9;
    font-weight: 500;
    z-index: 9;
}

.registerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    background-color: #6775F4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.registerPaddingDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outerRegisterInfo {
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 10;
    row-gap: 3vh;
}

.firstLastAndEmoji {
    display: flex;
    flex-direction: column;
    width: 83%;
    row-gap: 2vh;
}

.outerUserDetails {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.titleName {
    font-weight: 600;
    width:80%;
}

.catTitle {
    width: 60vw;
    height: 5vh;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    top: -1vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.outerUserDetails {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: flex-start;
}

.keyBoardAndBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outerEmojiBtnAndKeyboard {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    position: relative;
    width: 100%;
}

.outerCancleAndEmoji {
    display: inline-block;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.cancleEmoji {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    text-decoration-color: #030942;
    text-decoration-thickness: 0.1vh;
    text-underline-offset: 0.7vh;
}

.selectedEmoji {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.emoji {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
}

.plusIcon {

    bottom: 0;
    right: 0;
    width: 20px; /* Adjust the size as needed */
    height: auto;
    transition: all 0.3s ease; /* Smooth transition for responsiveness */
}

.outerEmojiKeyboard {
    position: absolute;
    top: -2vh;
    width: 100%;
}

.emoji-keyboard {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 80%;
    left: 67%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    width: 943%;
    z-index: 1;
}

.emoji-categories {
    display: flex;
    justify-content: center;
    gap: 14vw;
    margin-bottom: 1.5vh;
    margin-top: 0.5vh;
}

.category-button {
    /* padding: 8px 16px; */
    font-size: 14px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, padding 0.2s;
    font-weight: 600;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 500;
}


.megaOuterDaysOptions {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    width: 50%;
    align-items: flex-start;
    margin-bottom: 2vh;
}

.outerDaysTitleAndPoly {
    display: flex;
    width: 50%;
}

.megaOuterDaysOptions {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    width: 83%;
    align-items: flex-start;
    margin-bottom: 2vh;
}

.dropDownTitle {
    width: 8.5rem;
    height: 5vh;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    top: -0.5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.accordionPoly {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.outerMonthDayOptions {
    display: flex;
    flex-direction: column;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 17px 5px 0px rgba(189, 189, 189, 0.00), 0px 11px 4px 0px rgba(189, 189, 189, 0.02), 0px 6px 4px 0px rgba(189, 189, 189, 0.06), 0px 3px 3px 0px rgba(189, 189, 189, 0.10), 0px 1px 1px 0px rgba(189, 189, 189, 0.12) rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 1);
    justify-content: center;
    width: 8.5rem;
    padding: 0vh 1.5vw;
    z-index: 2;
    /* margin-top: 4.3vh; */
    align-items: flex-start;
}

.dropDownOptionBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    /* text-decoration: underline; */
    /* line-height: 4vh; */
    /* border-bottom: 1px solid #000; */
    /* padding-bottom: 0.2vh; */
    padding: 0.9vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.daydivider {
    background-color: #D6D9F1;
    height: 0.2vh;
    width: 100%;
}

.primery-button {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 15.375rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    /* h2 - sub titles */
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.hideDefaultEmojiBtn {
    display: none;
}

#emoji-trigger {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}

.removeKeybord {
    display: none;
}

.emoji-keyboard.visible {
    opacity: 1;
    visibility: visible;
    padding: 2vh 5vw;
    width: 163%;
}

.category-button.active {
    text-decoration: underline;
    text-decoration-color: #6775F4;
    text-decoration-thickness: 0.4vh;
    text-underline-offset: 1vh;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 600;
}

.counter {
    position: absolute;
    color: #666;
    font-size: 12px;
    padding: 8px 6px;
}

.nameInputAndCounterWrap {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    align-items: flex-end;
    justify-content: flex-end;
}

.catIcon {
    /*border-radius: 50%;
    width: 4rem;
    text-align: center;
    background-color: #D6D9F1;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem*/

    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #D6D9F1;
    position: relative;
}

.chosen {
    background-color: rgba(0, 0, 0, 0.6); /* Dimming effect */
    border-radius:50%;
}

    .chosen::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(css/images/check-v.svg) center center no-repeat;
        background-color: darkblue;
        border-radius: 50%;
        background-color: rgba(3, 9, 66, 0.58);
        background-size: 50%;
    }

.iconAndText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.outerCatsOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 20px; */
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 1rem;
}

.outerText {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    align-items: center;
    margin: 1rem 0;
}

.outerPrefPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.emoji-section {
    background-color: #EDEFF7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.51rem;
    border-radius: 0.6em;
    padding: 1vh;
}

    .emoji-section span {
        display: block; /* Ensures that the emojis are centered and can take padding if needed */
        text-align: center; /* Centers the emoji in the span */
        font-size: 1.35rem;
    }