
.outerColors {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #EDEFF7;
    row-gap: 1.7vh;
    align-items: center;
    padding: 0.8vh 0;
    width: 100%;
}

.colorsContainer {
    width: 90%;
    row-gap: 1.7vh;
    display: flex;
    row-gap: 1.7vh;
    flex-direction: column;
}

.colorsRow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.color-selected {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.16em solid #6775F4;
}



.outerGalleryAndNav {
    background-color: #F9F9F9;
    border-radius: 0.25rem;
    border: 1px solid #D6D9F1;
    box-shadow: 0px 36px 10px 0px rgba(79, 89, 176, 0.00), 0px 23px 9px 0px rgba(79, 89, 176, 0.01), 0px 13px 8px 0px rgba(79, 89, 176, 0.03), 0px 6px 6px 0px rgba(79, 89, 176, 0.05), 0px 1px 3px 0px rgba(79, 89, 176, 0.06);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.megaTagsOuterOptions {
    margin-top: 2vh;
}

.chosenTag {
    font-weight: 600;
}

.outerGallery {
    background-color: #F9F9F9;
    border-radius: 0.25rem;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 3vh;
    width: 100%;
    padding: 1vh 0;
    padding-top: 2vh;
}

.tag {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 0.25rem;
    width: 90%;
    height: 2rem;
    justify-items: center;
    max-width: 6rem;
}

.Editedtag {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 0.25rem;
    width: 5.5rem;
    height: 2rem;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 1.7vw;
    align-items: center;
}

.outerEditTags {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.options {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.outerBtnAndDots {
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3vh 2vw;
}

.galleryArrow {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.disBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    opacity: 25%;
}

.pageDots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 5px;
    background-color: #D6D9F1;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
    .dot.active {
        background-color: #6775F4;
    }
#\#F4B367 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F4B367;
}

#\#AEA2F9 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #AEA2F9;
}

#\#F467AB {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F467AB;
}

#\#F47867 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F47867;
}

#\#6775F4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #6775F4;
}

#\#8DE4BF {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #8DE4BF;
}

#\#67CAF4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #67CAF4;
}

#\#FCE884 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FCE884;
}

#\#F9D3C2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F9D3C2;
}

#\#09AE73 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #16A78D;
}

#\#8C8B8B {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #696969;
}

#\#DADADA {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #DADADA;
}

.backArrow {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.outerTopSection {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    padding: 3vh 0 2vh;
    align-items: baseline;
}

.myProfileText{
    font-size:1.3rem;
    font-weight:500;
    text-align:center;
}

.megaOuterTopSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.outerSecondSection {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    border-radius: 0.25rem;
    width: 93%;
}

.profilePic {
    width: 6rem;
    height: 6rem;
    background-color: #F9F9F9;
    border: 3.5px solid #6775F4;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 50%;
    font-size: 3rem;
    display: inline-block;
}

.profileAndStreak {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
}

#mainUserInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

.progressBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 13rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.outerTitleAndStartDay {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    align-items: flex-start;
}


.titleName {
    font-weight: 600;
    width: 94%;
}


.outerDay {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.dayBox {
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    padding: 1vh 1vh;
    font-size: 1.1rem;
    width: 93%;
}


.outerText {
    width: 100%;
    display: flex;
    justify-content: center;
}

.outerThirdSection {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}


.outerTagsProfile {
    border: none;
    padding: 1vh 1vh;
    font-size: 1.1rem;
    width: 97%;
    row-gap: 2vh;
    display: flex;
    flex-direction: column;
}

.outerOnbaordings {
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    padding: 1vh 1vh;
    font-size: 1.1rem;
    width: 76%;
}

.outerDropAndPoly {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.onBoardings {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background: #FFF;
    justify-content: center;
    width: 76%;
    padding: 0.8vh 1vw;
    z-index: 2;
/*    position: absolute;
    margin-top: 47%;*/
    box-shadow: 0px 31px 9px 0px rgba(0, 0, 0, 0.00), 0px 20px 8px 0px rgba(0, 0, 0, 0.02), 0px 11px 7px 0px rgba(0, 0, 0, 0.06), 0px 5px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.divider {
    background-color: #D6D9F1;
    height: 0.2vh;
    margin: 0.4vh 0;
}

.outerOn {
    display: flex;
    width: 94%;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}

.megaOuterOn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 1.4vh;
}

.dropDownOptionBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: 50%;
    padding: 0.5vh 0;
}

.secondery-button {
    border: 1px solid #6775F4;
    width: 15.375rem;
    height: 2.3rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.outerBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 4vh 0 2vh;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.outerOptions {
    position: absolute;
    margin: 0;
    top: 3.3vh;
    left: 8vw;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 29%;
    display: flex;
    flex-direction: column;
    row-gap: 0.4vh;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    box-shadow: 0px 47px 13px 0px rgba(40, 45, 93, 0.00), 0px 30px 12px 0px rgba(40, 45, 93, 0.01), 0px 17px 10px 0px rgba(40, 45, 93, 0.05), 0px 8px 8px 0px rgba(40, 45, 93, 0.09), 0px 2px 4px 0px rgba(40, 45, 93, 0.10);
}
.tagsOuterOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    row-gap: 0.4vh;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    box-shadow: 0px 47px 13px 0px rgba(40, 45, 93, 0.00), 0px 30px 12px 0px rgba(40, 45, 93, 0.01), 0px 17px 10px 0px rgba(40, 45, 93, 0.05), 0px 8px 8px 0px rgba(40, 45, 93, 0.09), 0px 2px 4px 0px rgba(40, 45, 93, 0.10);
}

.optionButton {
    width: 100%;
    padding: 12px 20px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s;
}

    .optionButton .icon {
        margin-left: 10px; /* Space between text and icon */
        width: 24px; /* Icon size */
        height: auto;
    }


.outerDotsAndOptions {
    display: flex;
    flex-direction: row-reverse;
}

.outerTitleAndCounter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container {
    position: relative;
    width: 60vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.outerNameAndColor {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.titleBox {
    width: 100%;
    padding: 5px 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.counter {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #666;
    font-size: 12px;
    padding: 2px 6px;
}

    .counter span {
        color: inherit; /* Inherit color from parent */
        color: #636363
    }

#emoji-trigger {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}


.emoji-keyboard {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    /* width: 943%; */
    z-index: 1;
}

    .emoji-keyboard.visible {
        opacity: 1;
        visibility: visible;
        padding: 3vh 5vw;
    }

.hideDefaultEmojiBtn {
    display: none;
}

.emoji-categories {
    display: flex;
    justify-content: center;
    gap: 14vw;
    margin-bottom: 1.5vh;
    margin-top: 0.5vh;
}

.outerEmojiBtnAndKeyboard {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    position: relative;
    width: 100%;
}

.outerEmojiKeyboard {
    position: absolute;
    top: -2vh;
    width: 100%;
}

.category-button {
    /* padding: 8px 16px; */
    font-size: 14px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, padding 0.2s;
    font-weight: 600;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 500;
}

    .category-button.active {
        text-decoration: underline;
        text-decoration-color: #6775F4;
        text-decoration-thickness: 0.4vh;
        text-underline-offset: 1vh;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-weight: 600;
    }

.removeKeybord {
    display: none;
}

.cancleEmoji {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    text-decoration-color: #030942;
    text-decoration-thickness: 0.1vh;
    text-underline-offset: 0.7vh;
}


.selectedEmoji {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}

.outerCancleAndEmoji {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}


.selectedEmoji {
    position: relative;
    border: none; /* Adjust as needed */
    background: none; /* Adjust as needed */
    padding: 5px; /* Adjust padding as needed */
    display: flex;
    align-items: center;
}

.emoji {
    display: inline-block;
    vertical-align: middle;
}

.keyBoardAndBtn {
    display: flex;
    position: relative;
    bottom: 4vh;
    right: 2vh;
}

.outerEmojiAndBtn {
    display: flex;
    flex-direction: column;
}

.startDays {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background: #FFF;
    justify-content: center;
    width: 93%;
    padding: 0.8vh 1vw;
    z-index: 2;
    position: absolute;
    margin-top: 1%;
    box-shadow: 0px 31px 9px 0px rgba(0, 0, 0, 0.00), 0px 20px 8px 0px rgba(0, 0, 0, 0.02), 0px 11px 7px 0px rgba(0, 0, 0, 0.06), 0px 5px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.dropDownOptionDaysBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: 50%;
    padding: 0.5vh 0;
}

.outerDaysOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outerDays {
    width: 7%;
    display: flex;
    justify-content: center;
}

.outerLay {
    display: flex;
    row-gap: 2.8vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.BgOverlay {
    background-color: rgba(1, 5, 43, 0.28);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.overlay {
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.addTagBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: relative; /* Set the button as a relative container */
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items horizontally in the center */
    overflow: hidden; /* Prevents content from spilling out */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.addTagText {
    position: absolute;
    width: 62%;
    font-weight: 600;
    color: #6775F4;
    font-size: 1.1rem;
}

.addTagImg {
    display: block;
}

.paddingDiv {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    width: 90%;
}

.outerTitleAndIcon {
    display: flex;
    width: 90%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2vh;
}


.catTitle {
    width: 60vw;
    height: 6vh;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    top: -1vh;
    position: relative;
}

.closeOverlay {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.primery-button {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 15.375rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.outerSaveBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.5vh;
    align-items: center;
    margin: 1.3vh 0;
}


.outerOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    row-gap: 0.4vh;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    box-shadow: 0px 47px 13px 0px rgba(40, 45, 93, 0.00), 0px 30px 12px 0px rgba(40, 45, 93, 0.01), 0px 17px 10px 0px rgba(40, 45, 93, 0.05), 0px 8px 8px 0px rgba(40, 45, 93, 0.09), 0px 2px 4px 0px rgba(40, 45, 93, 0.10);
}


.optionButton {
    width: 100%;
    padding: 12px 20px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px; /* Font size similar to the image */
    color: #333; /* Text color */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

    .optionButton .icon {
        margin-left: 10px; /* Space between text and icon */
        width: 24px; /* Icon size */
        height: auto;
    }

.lineBetween {
    width: 0.2rem;
    background-color: #C4C4C4;
    height: 5.2vh;
}


.aboutOverlay {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    z-index: 1000; /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.outerPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    height:80%;
    padding: 2.5vh;
   
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
    row-gap: 0.4vh;
}

#closeAbout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

#descParagraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1vh;
}

#HITinfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 78%;
}

.logos{
    height:21%;
}