.profilePic {
    width: 3rem;
    height: 3rem;
    background-color: #F9F9F9;
    border: 3.5px solid #6775F4;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 50%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.backArrow {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.outerBackAndProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.outerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    padding: 3vh 0 0 0;
}

.outerPage {
    display: flex;
    justify-content: center;
}

.outerContent {
    display: flex;
    justify-content: center;
}

.content {
    width: 94%;
}

.outerPageTitle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    /*    background-color: rgba(103, 117, 244, 0.34);
    border: 1px solid #6775F4;*/
    border-radius: 0.2rem;
    padding: 1.5vh 0;

}

.optionsMenu {

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}

.pageTitle {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.budget {
    background-color: rgba(249, 249, 249, 1);
    border-radius: 0.3rem;
    padding: 1vh;
    margin-left: 0.5rem;
    font-size: 1.15rem;
    font-weight: 500;
    width: 50%;
    text-align: center;
}

.outerLowerPart {
    display: flex;
    background-color: rgba(251, 251, 251, 1);
    flex-direction: column;
    box-shadow: 0px 25px 25px 0px rgba(39, 53, 160, 0.09), 0px 6px 14px 0px rgba(39, 53, 160, 0.10);
    row-gap: 2vh;
    height: 100%;
}

.filterAndSortBtns {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.transactions {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.outerTitleDateAndTag {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.searchWrapper {
    display: flex;
    justify-content: space-evenly;
}

.searchInput {
    width: 74.8vw;
    height: 5.96806vh;
    border-radius: 0.375rem;
    background: #FAF9F9;
    border: none;
}

.search__container {
    border-radius: 0.375rem;
    background-color: #D6D9F1;
    width: 95%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2.4vw;
    column-gap: 1.2vh;
    margin-top: 2vh;
}


.outerSortAndFilter {
    display: flex;
    justify-content: center;
}

.sortAndFilterBtns {
    display: flex;
    justify-content: flex-start;
    width: 95%;
    column-gap: 0.5vh;
    align-items: flex-start;
}

.outerFilterOptions {
    display: flex;
    flex-direction: row;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 17px 5px 0px rgba(189, 189, 189, 0.00), 0px 11px 4px 0px rgba(189, 189, 189, 0.02), 0px 6px 4px 0px rgba(189, 189, 189, 0.06), 0px 3px 3px 0px rgba(189, 189, 189, 0.10), 0px 1px 1px 0px rgba(189, 189, 189, 0.12) rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 1);
    justify-content: center;
    width: 35%;
    padding: 0.8vh 0;
    z-index: 2;
    position: absolute;
    margin-top: 4.3vh;
}

.dropDownOptionBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    /* text-decoration: underline; */
    /* line-height: 4vh; */
    /* border-bottom: 1px solid #000; */
    /* padding-bottom: 0.2vh; */
    padding: 0.6vh;
}

.filterOptions {
    display: flex;
    /* width: 95%; */
    flex-direction: column;
    align-content: flex-start;
    /* justify-content: flex-start; */
    align-items: flex-start;
}

.divider {
    height: 0.1vh;
    background-color: #D6D9F1;
    margin-bottom: 1vh;
    width: 100%;
}

.outerFilterBtnAndOptions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sortBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.6vh;
}

#sortTrans {
    width: 150%;
}

/*#sortTrans input[type="radio"] {
    display: none;
}*/

.outerSortOptions {
    display: flex;
    flex-direction: row;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 17px 5px 0px rgba(189, 189, 189, 0.00), 0px 11px 4px 0px rgba(189, 189, 189, 0.02), 0px 6px 4px 0px rgba(189, 189, 189, 0.06), 0px 3px 3px 0px rgba(189, 189, 189, 0.10), 0px 1px 1px 0px rgba(189, 189, 189, 0.12) rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 1);
    width: 57%;
    padding: 2vh 0;
    z-index: 1000;
    position: absolute;
    margin-top: 4.3vh;
    justify-content: center;
}

.sortDivider {
    height: 0.1vh;
    background-color: #D6D9F1;
    margin-bottom: 1vh;
    width: 64%;
    margin: 1vh 0;
}

.outerDotsAndOptions {
    display: flex;
    flex-direction: row-reverse;
}



.closedAndOpenMenu {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: flex-start;
    column-gap: 1vh;
    z-index: 2;
}


.outerDotsAndDes {
    display: flex;
    flex-direction: row-reverse;
}

.outerTitleBudgetAndDots {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: baseline;
}

.options {
    display: flex;
    position: absolute;
    z-index: 4;
    justify-content: flex-end;
    width: 90%;
    margin-top: 2.5vh;
    margin-right: -1vw;
}

.outerTitleAndOptions {
    display: flex;
    flex-direction: column;
}

.outerPaymentOverlay {
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}


.outerPaymentMethodsOptions {
    display: flex;
    flex-direction: column;
    width: 84%;
    align-items: flex-start;
    row-gap: 1vh;
}

.BgOverlay {
    background-color: rgba(1, 5, 43, 0.28);
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.outerLay {
    display: flex;
    bottom: 0;
    /* position: fixed; */
    z-index: 4;
    width: 100%;
    height: 100%;
}


.outerPaymentMethod {
    display: flex;
    justify-content: center;

}

.PaymentMethods {
    display: flex;
    width: 95%;

}

.modal-close-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.patmentsTitle {
    font-weight: 500;
    font-size: 1.3rem;
}

.paymentOptions {
    background-color: #EDEFF7;
    border: 1px solid #D6D9F1;
    padding: 1.5vh 11vw;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paymentOptions input[type="radio"] {
    display: none;
}


.paymentOptions input[type="radio"]:checked+label {
    color: #6775F4;
}


.sortOptions input[type="radio"] {
    display: none;
}

.sortOptions input[type="radio"]:checked+label {
    color: #6775F4;
}

.primery-button {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 15.375rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    /* h2 - sub titles */
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.outerPaymentMethodsAndBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    width: 100%;
    margin-top: 1vh;
}

.straightDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1vh;
}

.outerGallery {
    background-color: #F9F9F9;
    border-radius: 0.25rem;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 3vh;
    width: 100%;
    padding: 1vh 0;
    padding-top: 2vh;
}

.tag {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 0.25rem;
    width: 90%;
    height: 2rem;
    justify-items: center;
}

.pageDots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 5px;
    background-color: #D6D9F1;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #6775F4;
}

.galleryArrow {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.disBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    opacity: 25%;
}

.outerBtnAndDots {
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3vh 2vw;
}


.outerGalleryAndNav {
    background-color: #F9F9F9;
    border-radius: 0.25rem;
    border: 1px solid #D6D9F1;
    box-shadow: 0px 36px 10px 0px rgba(79, 89, 176, 0.00), 0px 23px 9px 0px rgba(79, 89, 176, 0.01), 0px 13px 8px 0px rgba(79, 89, 176, 0.03), 0px 6px 6px 0px rgba(79, 89, 176, 0.05), 0px 1px 3px 0px rgba(79, 89, 176, 0.06);
    width: 100%;
}

.outerBtnAndFilterStatus {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1vh;
}

.outerOverdraft {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    /* max-width: 500px; */
    padding: 3.5vh;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
    row-gap: 0.4vh;
    height: 63vh;
}

.outerOverdraftWithErrorMsg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    /* max-width: 500px; */
    padding: 3.5vh;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
    row-gap: 0.4vh;
    height: 84vh;
}

/*.overdraftWindow {
    display: flex;
    flex-direction: column;
    align-items: center;*/
    /* text-align: right; */
    /*justify-content: space-around;
    height: 100%;
}*/

.outerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    text-align: center;
}

.outerCloseBtn {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

    .titleText {
        color: red;
        font-weight: 600;
    }

.overlay {
    position: fixed;
    /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw;
    /* Cover full viewport width */
    height: 100vh;
    /* Cover full viewport height */
    z-index: 999;
    /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.outerSubCatOverlay {
    background: #F9F9F9;
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.innerSubCatOverlay {
    width: 88.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.8vh;
}

.subCatTitle {
    font-size: 1.3rem;
}

.catsDropDown {
    border-radius: 0.02rem;
    background: #EDEFF7;
    padding: 0.6vh 0;
    border: none;
    font-weight: 700;
    color: #6775F4;
    margin-bottom: 1vh;
}

.catsOptions {
    background-color: #fff;
    font-size: 0.875rem;
    color: black;
    border: none;
    border-radius: 0.02rem;
}

.catsOptions:checked {
    background-color: #D6D9F1;
}

.titleName {
    font-weight: 500;
}

.outerTitleName {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.titleBox {
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    padding: 1vh;
    border: none;
}

.counter {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #666;
    font-size: 12px;
    padding: 2px 6px;
}

.input-container {
    position: relative;
    width: 100%; /* Ensure full width */
}

.budgetBox {
    text-align: center;
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    padding: 1vh 1vh;
    font-size: 1.6rem;
    width: 65%;
}

.outerBudget {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1vh 0;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.currency-symbol {
    position: absolute;
    right: 64vw;
    pointer-events: none;
    padding-top: 1.1vh;
}

.lineBetween {
    width: 10.542rem;
    background-color: #EDEFF7;
    height: 0.2vh;
    position: relative;
    bottom: 2vh;
}

.outerImportance {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1vh;
}
.subCatsDrop {
    width: 97%;
    height: 70%;
    background: #D6D9F1;
    padding: 1vh;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
}
.outerToSubCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFF7;
    width: 38vw;
    padding: 1vh;
    border-radius: 0.25rem;
}
.lineBetweenOverdraft {
    width: 10.542rem;
    background-color: #D6D9F1;
    height: 0.2vh;
    position: relative;
    bottom: 1.5vh;
}
.outerFromSubCats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFF7;
    width: 38vw;
    padding: 1vh;
    border-radius: 0.25rem;
}
.outerDropAndPoly {
    display: flex;
    width: 100%;
}
.subCatsDropDown {
    display: flex;
    flex-direction: column;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    justify-content: center;
    width: 36.5%;
    padding: 0.8vh 1vw;
    z-index: 2;
    position: absolute;
    margin-top: 3.8vh;
    box-shadow: 0px 31px 9px 0px rgba(0, 0, 0, 0.00), 0px 20px 8px 0px rgba(0, 0, 0, 0.02), 0px 11px 7px 0px rgba(0, 0, 0, 0.06), 0px 5px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.outerDropAndOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.outerBudgets {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    border-radius: 0.1875rem;
    border: 1px solid #D6D9F1;
    width: 97%;
    row-gap: 0.2vh;
    padding: 0 2vw 1vh;
}

.outerBudgetTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}
.titleDivder {
    width: 4.5rem;
    background-color: #D6D9F1;
    height: 0.2vh;
    position: relative;
    bottom: 0vh;
}

.outerBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    margin-top:1.5vh;
}

.secondery-button {
    border: 1px solid #6775F4;
    width: 15.375rem;
    height: 2.3rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.importanceBtns label:nth-of-type(1)+.divider {
    left: calc(33.33% - 10px);
    /* Adjust for padding */
}

.importanceBtns label:nth-of-type(3)+.divider {
    left: calc(66.66% - 20px);
    /* Adjust for padding */
}

@media (max-width: 768px) {
    .importanceBtns label {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .importanceBtns label {
        font-size: 14px;
    }
}

.outerExample {
    border-radius: 0.375rem;
    border: 2px solid #D6D9F1;
    background: #EDEFF7;
    display: flex;
    padding: 0.7vh;
    margin-top: 0.7vh;
}

.example {
    font-weight: 700;
}

.outerSaveBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.5vh;
    align-items: center;
    margin: 1.3vh 0;
}


.outerImportance {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1vh;
}

.outerBtns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.importanceBtns {
    justify-content: space-around;
    align-items: center;
    padding: 0.8vh;
    border-radius: 0.375rem;
    border: 1px solid #D6D9F1;
    background: #FFF;
    display: flex;
    width: 100%;
    position: relative;
}

.importanceBtns input[type="radio"] {
    display: none;
}

.importanceBtns label {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s, background 0.3s;
    padding: 10px 20px;
    border-radius: 0.375rem;
}

.importanceBtns input[type="radio"]:checked+label {
    color: #6775F4;
    background: #EDEFF7;
    /* Soft blue background for selected state */
}

.divider {
    
    height: 0.15vh;
    width: 41vw;
    background-color: #D6D9F1;
}

.filterDivider {
    height: 0.15vh;
    width: 27vw;
    background-color: #EDEFF7;
}

.importanceBtns label:nth-of-type(1)+.divider {
    left: calc(33.33% - 10px);
    /* Adjust for padding */
}

.importanceBtns label:nth-of-type(3)+.divider {
    left: calc(66.66% - 20px);
    /* Adjust for padding */
}

@media (max-width: 768px) {
    .importanceBtns label {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .importanceBtns label {
        font-size: 14px;
    }
}

.profileAndStreak {
    position: relative;
    display: inline-block;
}

.streakBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    z-index: 1;
    top: 33%;
    left: 50%;
    width: 111%;
}

.thirdBtn {
    text-decoration: underline;
    font-weight: 700;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.primery-buttonOverDraft {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 10rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.outerPlusBtn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.outerOverdraft {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    /* max-width: 500px; */
    padding: 3.5vh;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
    row-gap: 2.4vh;
    height: 80%;
}


.overlay {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    z-index: 999; /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overdraftWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: right; */
    justify-content: space-around;
    height: 100%;
}

/*.outerText {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.titleText {
    color: red;
    font-weight: 600;
}

.outerTranferTable {
    display: flex;
    width: 102%;
    justify-content: space-between;
}

.outerCurrentGap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 1.5vh 0 2vh;
}


.currentGap {
    box-shadow: 0px 19px 5px 0px rgba(40, 93, 200, 0.00), 0px 12px 5px 0px rgba(40, 93, 200, 0.01), 0px 7px 4px 0px rgba(40, 93, 200, 0.05), 0px 3px 3px 0px rgba(40, 93, 200, 0.09), 0px 1px 2px 0px rgba(40, 93, 200, 0.10);
    background-color: #EDEFF7;
    text-align: center;
    border-radius: 0.25rem;
    border: none;
    padding: 1vh 1vh;
    font-size: 1.6rem;
    width: 75%;
}

.currency-symbolOverDraft {
    position: absolute;
    right: 59vw;
    pointer-events: none;
    padding-top: 1.1vh;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.4rem;
    width:68vw;
}