.titleProfileAndStreak {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.profileAndStreak {
    position: relative;
    display: inline-block;
}

.streakBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    z-index: 1;
    top: 19%;
    left: 41%;
    width: 111%;
}

.profilePic {
    width: 3rem;
    height: 3rem;
    background-color: #F9F9F9;
    border: 3.5px solid #6775F4;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 50%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backArrow {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.outerPage {
    width: 94%;
    padding: 2vh 0;
}

.megaOuterPage {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pageTitle {
    font-size: 1.3rem;
    margin-bottom: 1vh;
    font-weight: 600;
}

.secondTitle {
    font-size: 1.3rem;
    margin-bottom: 2vh;
    font-weight: 500;
}

.thirdTitle {
    font-size: 1.2rem;
    margin-bottom: 3vh;
    font-weight: 500;
    padding:2vh 2vw;
}

.outerSavings {
    background-color: #F9F9F9;
    border-radius: 0.625rem;
    box-shadow: 0px 75px 21px 0px rgba(104, 116, 244, 0.00), 0px 48px 19px 0px rgba(104, 116, 244, 0.01), 0px 27px 16px 0px rgba(104, 116, 244, 0.02), 0px 12px 12px 0px rgba(104, 116, 244, 0.04), 0px 3px 7px 0px rgba(104, 116, 244, 0.05);
}

.AddNewSaving {
    border-radius: 0.6rem;
    border: 2px dashed #6775F4;
    background: #FBFBFB;
    width: 100%;
    height: 9vh;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 1vh;
    margin-bottom: 3vh;
    align-items: center;
}

.addTitle {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    color: #6775F4;
    margin: 0;
}

.emoji-circle {
    width: 2em;
    height: 2em;
    background-color: #D6D9F1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);or depth */
}

.outerSavingsLines {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    height: 18vh;
}

.outerSavingsLine {
    background-color: #F9F9F9;
    border-radius: 0.625rem;
    box-shadow: 0px 75px 21px 0px rgba(104, 116, 244, 0.00), 0px 48px 19px 0px rgba(104, 116, 244, 0.01), 0px 27px 16px 0px rgba(104, 116, 244, 0.02), 0px 12px 12px 0px rgba(104, 116, 244, 0.04), 0px 3px 7px 0px rgba(104, 116, 244, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1vh 0;
}

.outerIconTitleAndSum {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outerIconAndTitle {
    display: flex;
    align-items: center;
    column-gap: 2vh;
    padding-top: 2vh;
    justify-content: flex-end;
}

.divider {
    height: 8vh;
    width: 0.3vw;
    background-color: #D6D9F1;
}


.overlay {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    z-index: 1000; /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.outerPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 95%;
    /* max-width: 500px; */
    padding: 1vh 5vw;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
}


.outerBtns {
    display: flex;
    flex-direction: row;
    row-gap: 0vw;
    width: 80%;
    justify-content: space-around;
}

#actionBtn {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #FFF;
    border: none;
    width: 4.6395rem;
    height: 2.75rem;
}

#cancleBtn {
    border-radius: 0.25rem;
    border: 2px solid #6775F4;
    background-color: #fff;
    padding: 1vh;
    width: 4.6395rem;
    height: 2.75rem;
}

.outerText {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 4vh;
}

.lineBetween {
    width: 17.542rem;
    background-color: #EDEFF7;
    height: 0.2vh;
    position: relative;
    bottom: -1vh;
}

.outerX {
    width: 90%;
}

.options-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

    .options-button img {
        width: 24px;
        height: 24px;
    }

.outerFirstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 108%;
}

.outerTitle{
    display:flex;
    flex-direction:column;
}

.outerSavingAmount {
    border-radius: 0.5rem;
    display: flex;
    background-color: #F9F9F9;
    font-size: 1.1rem;
    max-width: 7rem;
}

.outerSaving {
    display: flex;
    background-color: #EDEFF7;
    border-radius: 0.625rem;
    padding: 2vh 0;
    align-items: center;
    justify-content: space-around;
    margin: 2vh 0;
    width: 113%;
}

#options {
    position: absolute;
    z-index: 4;
    margin-left: 4vw;
}

.outerDotsAndOptionsTrans {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.optionsMenu {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.outerTitleAndCounter {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}

.input-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.counter {
    position: absolute;
    bottom: -0.3rem;
    color: #666;
    font-size: 12px;
    padding: 2px 6px;
}

    .counter span {
        color: inherit; /* Inherit color from parent */
        color: #636363
    }

.catTitle {
    font-weight: 500;
    margin: 0;
    height: 3rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: 1px solid #F9F9F9;
    position: relative;
    max-width: 15rem;
}


.outerIconAndTitleToShow {
    display: flex;
    align-items: center;
    column-gap: 2vh;
    padding-top: 2vh;
}

.outerIconAndTitleToShowFirst {
    display: flex;
    align-items: center;
    column-gap: 2vh;

}

.outerSavingAmountToEdit {
    border-radius: 0.5rem;
    display: flex;
    background-color: #F9F9F9;
    padding: 1vh 5vw;
    font-size: 1.1rem;
    border: none;
    width: 6rem;
}

.outerSavingsAmountAndShekel {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    /* display: flex; */
    background-color: #F9F9F9;
    /* font-size: 1.1rem; */
    border: none;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    width: 7.5rem;
    justify-content: center;
}



.lineBetweenToEdit {
    width: 7rem;
    background-color: #727272;
    height: 0.1vh;
    position: relative;
    bottom: 11.5vh;
    z-index: 5;
    position: absolute;
}


.primery-button {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 11rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-bottom: 2vh;
}

.outerLay {
    display: flex;
    bottom: 0;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.BgOverlay {
    background-color: rgba(1, 5, 43, 0.28);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.titleAndIcon {
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    /* width: 90%; */
    justify-content: space-evenly;
    align-items: flex-end;
}

.addSavingOverlay {
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
}


.paddingDiv {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    width: 90%;
}


.outerTitleAndIcon {
    display: flex;
    width: 90%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2vh;
}


.closeOverlay {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.popupTitle {
    font-size: 1.3rem;
    font-weight: 500;
}


.outerTitleAndCounterToAdd {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    width: 100%;
}

.input-container {
    position: relative;
    width: 100%; /* Ensure full width */
}


.input-containerToAdd {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.outerSavingToAdd {
    display: flex;
    background-color: #EDEFF7;
    border-radius: 0.625rem;
    padding: 3vh 0;
    align-items: center;
    justify-content: space-around;
    margin: 3vh 0;
    width: 111%;
}

.titleAndIconToAdd {
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    width: 81%;
    justify-content: flex-start;
    align-items: flex-end;
}

.catTitleToAdd {
    font-weight: 500;
    margin: 0;
    height: 6vh;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: 1px solid #F9F9F9;
    position: relative;
    width: 100%;
}

.outerSavingAmountToAdd {
    border-radius: 0.5rem;
    display: flex;
    background-color: #F9F9F9;
    padding: 1vh 5vw;
    font-size: 1.1rem;
    border: none;
    width: 95%;
}

.outerSaveSaving {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.innerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outerSavingAndMsg {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.outerDivSaving {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outerSavingAndMsgSum {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.savingCounter {
    position: absolute;
    bottom: 8rem;
    color: #666;
    font-size: 12px;
    padding: 2px 6px;
}

.outerSumAndCounter {
    display: flex;
    justify-content: flex-end;
}

.outerSavingsAmountAndShekelSum {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    /* display: flex; */
    background-color: #F9F9F9;
    /* font-size: 1.1rem; */
    border: none;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    width: 13rem;
    justify-content: flex-start;
}