.modal-close-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.overlay {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    z-index: 999; /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.outerTransOverlay {
    background: #F9F9F9;
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 3vh 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.innerTransOverlay {
    width: 88.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.2vh;
}

.outerTitle {
    display: flex;
    flex-direction: row;
    column-gap: 1vh;
    font-weight: 500;
    font-size: 1.3rem;
    flex-wrap: wrap;
}

.outerTitleAndDivider {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.divider {
    height: 0.1vh;
    background-color: #D6D9F1;
    margin-bottom: 1vh;
}

.accordionAndTransDetailsWrap {
    display: flex;
    flex-direction: column;
    background-color: #EDEFF7;
    margin-bottom: 1vh;
}

.transDetailsAccordion {
    display: flex;
    flex-direction: row;
    border-radius: 0rem 0rem 0.2rem 0.2rem;
    background: #EDEFF7;
    width: 88.5vw;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0.75vh;
    align-items: center;
    align-content: flex-end;
    z-index: 1;
    font-weight: 700;
}

.accordionText {
   
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.accordionPoly {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.outerTitleAndDateAndName {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    background-color: #F9F9F9;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    align-items: flex-start;
}

.outerReBtn {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    background-color: #F9F9F9;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-right: 1vw;
}


.titleName {
    font-weight: 500;
}

.titleBox {
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    padding: 1vh;
    border: none;
    width: 50vw;
}

.outerTitleAndDate {
    display: flex;
    flex-direction: row;
    row-gap: 1vh;
    background-color: #F9F9F9;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-right: 1vw;
    column-gap: 1vh;
}

.outerDetails {
    display: flex;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 0px 72px 20px 0px rgba(207, 201, 201, 0.00), 0px 46px 18px 0px rgba(207, 201, 201, 0.01), 0px 26px 16px 0px rgba(207, 201, 201, 0.05), 0px 12px 12px 0px rgba(207, 201, 201, 0.09), 0px 3px 6px 0px rgba(207, 201, 201, 0.10);
}

.innerPaddingDiv {
    width: 98%;
    display: flex;
    flex-direction: column;
    row-gap: 0.3vh;
}

.budgetBox {
    text-align: center;
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    padding: 1vh 1vh;
    font-size: 1.6rem;
    width: 65%;
}

.outerBudget {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.currency-symbol {
    position: absolute;
    right: 64vw;
    pointer-events: none;
    padding-top: 1.1vh;
}

.lineBetween {
    width: 10.542rem;
    background-color: #EDEFF7;
    height: 0.2vh;
    position: relative;
    bottom: 2vh;
}

.splitToggle {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    column-gap: 1vh;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.switchSpendings {
    background-color: #D6D9F1;
    transition: .4s;
    border-radius: 34px;
    width: 4em;
    height: 1.3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.switch {
    background-color: #D6D9F1;
    transition: .4s;
    border-radius: 34px;
    width: 4em;
    height: 1.3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }



.knob {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    background-color: #edeff7;
    transition: all 0.4s ease 0s;
    border-radius: 50%;
    border: 0.2px solid rgb(103, 117, 244);
}

.knobYes {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    background-color: rgb(103, 117, 244);
    transition: all 0.4s ease 0s;
    border-radius: 50%;
}
.outerDropAndAv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

.splitDrop {
    border: none;
    background-color: #EDEFF7;
    height: 6vh;
    border-radius: 0.25rem;
    width: 33vw;
}

.outerSum {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: right;
}

.outerPaymentMethod {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2vh;
}

.primery-button {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 15.375rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.repeatedBtn {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 14.375rem;
    height: 2rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secondery-button {
    border: 1px solid #6775F4;
    width: 15.375rem;
    height: 2.3rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.outerReBtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

.cancleRepeatedBtn {
    border-radius: 0.25rem;
    border: 1px solid #6775F4;
    width: 14.375rem;
    height: 2rem;
    flex-shrink: 0;
    text-align: center;
    font-family: Heebo;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Custom styles for the date input */
.custom-date-input {
    color: #6775F4; /* Text color */
    background-color: #FFF;
    /* Background color */
    border: 1px solid #6775F4; /* Border color */
    padding: 5px; /* Padding */
    border-radius: 4px; /* Border radius */
    /*width: 100%;*/ /* Adjust width as needed */
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none; /* Remove default styling in Firefox */
    appearance: none; /* Remove default styling in other browsers */
    position: relative;
    text-align: center;
}

    /* Add a custom icon as a background image */
    .custom-date-input::before {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px; /* Adjust icon size as needed */
        height: 20px; /* Adjust icon size as needed */
        pointer-events: none;
        /*background-image: url('css/images/calendar.svg');*/
    }

    .custom-date-input::-webkit-calendar-picker-indicator {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0; /* Hide the default icon but keep it clickable */
        width: 100%;
        height: 100%;
    }

    .custom-date-input::-moz-calendar-picker-indicator {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0; /* Hide the default icon but keep it clickable */
        width: 100%;
        height: 100%;
    }

    /* Change the text color when focused */
    .custom-date-input:focus {
        border-color: #6775F4; /* Change border color on focus */
        outline: none; /* Remove default outline */
    }

.addTagBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: relative; /* Set the button as a relative container */
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items horizontally in the center */
    overflow: hidden; /* Prevents content from spilling out */
}

.outerGallery {
    background-color: #F9F9F9;
    border-radius: 0.25rem;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 3vh;
    width: 100%;
    padding: 1vh 0;
    padding-top: 2vh;
}

.tag {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 0.25rem;
    width: 90%;
    height: 2rem;
    justify-items: center;
}
.pageDots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 5px;
    background-color: #D6D9F1;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

    .dot.active {
        background-color: #6775F4;
    }

.galleryArrow {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.disBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    opacity:25%;
}

.outerBtnAndDots {
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3vh 2vw;
}


.outerGalleryAndNav {
    background-color: #F9F9F9;
    border-radius: 0.25rem;
    border: 1px solid #D6D9F1;
    box-shadow: 0px 36px 10px 0px rgba(79, 89, 176, 0.00), 0px 23px 9px 0px rgba(79, 89, 176, 0.01), 0px 13px 8px 0px rgba(79, 89, 176, 0.03), 0px 6px 6px 0px rgba(79, 89, 176, 0.05), 0px 1px 3px 0px rgba(79, 89, 176, 0.06);
    width: 100%;
}

.chosenTag{
    font-weight:600;
}

.tagLabel {
    position: absolute; /* Positioning the tag label absolutely within the button */
    top: 50%; /* Position at 50% from the top */
    left: 50%; /* Position at 50% from the left */
    transform: translate(-50%, -50%); /* Adjust the centering correctly */
    z-index: 10; /* Ensure it's above the other content */
    white-space: nowrap; /* Keeps the text on one line */
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 33px 9px 0px rgba(0, 0, 0, 0.00), 0px 21px 8px 0px rgba(0, 0, 0, 0.01), 0px 12px 7px 0px rgba(0, 0, 0, 0.02), 0px 5px 5px 0px rgba(0, 0, 0, 0.03), 0px 1px 3px 0px rgba(0, 0, 0, 0.04);
    rgba(255, 255, 255, 1);
    border: none;
    width: 100%;
}

.outerSaveBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.5vh;
    align-items: center;
    margin: 1.3vh 0;
}

.outerRepetedTrans {
    background: #F9F9F9;
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
}

.outerMonths {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    grid-column-gap: 3vh;
    grid-row-gap: 1.5vh;
}

.monthValueInput {
    border-radius: 0.3125rem;
    border: 1.5px solid rgba(3, 9, 66, 0.11);
    background: #FFF;
    padding: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
    box-shadow: 0px 66px 18px 0px rgba(0, 0, 0, 0.00), 0px 42px 17px 0px rgba(0, 0, 0, 0.00), 0px 24px 14px 0px rgba(0, 0, 0, 0.01), 0px 11px 11px 0px rgba(0, 0, 0, 0.02), 0px 3px 6px 0px rgba(0, 0, 0, 0.02);
}

.thisMonth {
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    padding: 1vh 0;
    text-align: center;
    pointer-events: none;
    background-color: #8083ef;
    color: white;
}

.thisOuterValue {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 66px 18px 0px rgba(0, 0, 0, 0.00), 0px 42px 17px 0px rgba(0, 0, 0, 0.00), 0px 24px 14px 0px rgba(0, 0, 0, 0.01), 0px 11px 11px 0px rgba(0, 0, 0, 0.02), 0px 3px 6px 0px rgba(0, 0, 0, 0.02);
    border-radius: 0.25rem;
    background-color: #8083ef;
    color: white;
}

.months {
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    padding: 1vh 0;
    text-align: center;
    background-color: var(--BG-color, #EDEFF7);
}

.monthDivider {
    background-color: #6775F4;
    width: 82%;
    height: 0.2vh;
    margin-bottom: 1vh;
}

.outerValue {
    display: flex;
    flex-direction: row;
    background: var(--BG-color, #EDEFF7);
    align-items: center;
   
}

.shekelSign {
    margin-left: 1vw;
    width: 6vw;
}

.disMonth{
    opacity:50%;
}

.month {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    border: none;
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    padding: 1vh 0;
    text-align: center;
    background: var(--BG-color, #EDEFF7);
}

input:disabled, button:disabled {
    opacity: 50%;
}

.thisMonthBorder {
    border: 2px solid #6775f4;
}

.reText{
    margin-bottom:0.5vh;
}

.outerTitleAndCounter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input-container {
    position: relative;
    width: 100%; /* Ensure full width */
}

.titleBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.counter {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #666;
    font-size: 12px;
    padding: 2px 6px;
    
}

    .counter span {
        color: inherit; /* Inherit color from parent */
        color: #636363
    }


.outerOverdraft {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    /* max-width: 500px; */
    padding: 3.5vh;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
    row-gap: 2.4vh;
    height:80%;
}


.overlay {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    z-index: 999; /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overdraftWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: right; */
    justify-content: space-around;
    height: 100%;
}

.outerText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleText{
    color:red;
    font-weight:600;
}

.outerTranferTable {
    display: flex;
    width: 102%;
    justify-content: space-between;
}

.outerCurrentGap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 1.5vh 0 2vh;
}


.currentGap {
    box-shadow: 0px 19px 5px 0px rgba(40, 93, 200, 0.00), 0px 12px 5px 0px rgba(40, 93, 200, 0.01), 0px 7px 4px 0px rgba(40, 93, 200, 0.05), 0px 3px 3px 0px rgba(40, 93, 200, 0.09), 0px 1px 2px 0px rgba(40, 93, 200, 0.10);
    background-color: #EDEFF7;
    text-align: center;
    border-radius: 0.25rem;
    border: none;
    padding: 1vh 1vh;
    font-size: 1.6rem;
    width: 75%;
}

.currency-symbolOverDraft {
    position: absolute;
    right: 59vw;
    pointer-events: none;
    padding-top: 1.1vh;
}

.lineBetweenOverdraft {
    width: 10.542rem;
    background-color: #D6D9F1;
    height: 0.2vh;
    position: relative;
    bottom: 1.5vh;
}


.outerFromSubCats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFF7;
    width: 38vw;
    padding: 1vh;
    border-radius: 0.25rem;
}

.outerToSubCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFF7;
    width: 38vw;
    padding: 1vh;
    border-radius: 0.25rem;
}

.subCatsDrop {
    width: 97%;
    height: 70%;
    background: #D6D9F1;
    padding: 1vh;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
}

.outerDropAndPoly {
    display: flex;
    width: 100%;
}

.subCatsDropDown {
    display: flex;
    flex-direction: column;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    justify-content: center;
    width: 36.5%;
    padding: 0.8vh 1vw;
    z-index: 2;
    position: absolute;
    margin-top: 3.8vh;
    box-shadow: 0px 31px 9px 0px rgba(0, 0, 0, 0.00), 0px 20px 8px 0px rgba(0, 0, 0, 0.02), 0px 11px 7px 0px rgba(0, 0, 0, 0.06), 0px 5px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.outerDropAndOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outerBudgets {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    border-radius: 0.1875rem;
    border: 1px solid #D6D9F1;
    width: 97%;
    row-gap: 0.2vh;
    padding: 0 2vw 1vh;
}

.titleDivder {
    width: 4.5rem;
    background-color: #D6D9F1;
    height: 0.2vh;
    position: relative;
    bottom: 0vh;
}

.outerBudgetTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}


.outerBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}


.primery-buttonOverDraft {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 10rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.thirdBtn {
    text-decoration: underline;
    font-weight: 700;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.outerPlusBtn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.outerOverdraft {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    /* max-width: 500px; */
    padding: 3.5vh;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
    row-gap: 2.4vh;
    height: 80%;
}


.overlay {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    z-index: 999; /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overdraftWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: right; */
    justify-content: space-around;
    height: 100%;
}

.outerText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleText {
    color: red;
    font-weight: 600;
}

.outerTranferTable {
    display: flex;
    width: 102%;
    justify-content: space-between;
}

.outerCurrentGap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 1.5vh 0 2vh;
}


.currentGap {
    box-shadow: 0px 19px 5px 0px rgba(40, 93, 200, 0.00), 0px 12px 5px 0px rgba(40, 93, 200, 0.01), 0px 7px 4px 0px rgba(40, 93, 200, 0.05), 0px 3px 3px 0px rgba(40, 93, 200, 0.09), 0px 1px 2px 0px rgba(40, 93, 200, 0.10);
    background-color: #EDEFF7;
    text-align: center;
    border-radius: 0.25rem;
    border: none;
    padding: 1vh 1vh;
    font-size: 1.6rem;
    width: 75%;
}

.currency-symbolOverDraft {
    position: absolute;
    right: 59vw;
    pointer-events: none;
    padding-top: 1.1vh;
}

.lineBetweenOverdraft {
    width: 10.542rem;
    background-color: #D6D9F1;
    height: 0.2vh;
    position: relative;
    bottom: 1.5vh;
}


.outerFromSubCats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFF7;
    width: 38vw;
    padding: 1vh;
    border-radius: 0.25rem;
}

.outerToSubCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFF7;
    width: 38vw;
    padding: 1vh;
    border-radius: 0.25rem;
}

.subCatsDrop {
    width: 97%;
    height: 70%;
    background: #D6D9F1;
    padding: 1vh;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
}

.outerDropAndPoly {
    display: flex;
    width: 100%;
}

.subCatsDropDown {
    display: flex;
    flex-direction: column;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    justify-content: center;
    width: 36.5%;
    padding: 0.8vh 1vw;
    z-index: 2;
    position: absolute;
    margin-top: 3.8vh;
    box-shadow: 0px 31px 9px 0px rgba(0, 0, 0, 0.00), 0px 20px 8px 0px rgba(0, 0, 0, 0.02), 0px 11px 7px 0px rgba(0, 0, 0, 0.06), 0px 5px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.outerDropAndOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outerBudgets {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    border-radius: 0.1875rem;
    border: 1px solid #D6D9F1;
    width: 97%;
    row-gap: 0.2vh;
    padding: 0 2vw 1vh;
}

.titleDivder {
    width: 4.5rem;
    background-color: #D6D9F1;
    height: 0.2vh;
    position: relative;
    bottom: 0vh;
}

.outerBudgetTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}


.outerBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}


.primery-buttonOverDraft {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 10rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.thirdBtn {
    text-decoration: underline;
    font-weight: 700;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.expAndTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}