.overlay {
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
}

.outerLay {
    display: flex;
    bottom: 0;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.BgOverlay {
    background-color: rgba(1, 5, 43, 0.28);
    z-index: 3;
}

.titleAndIcon {
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    /* width: 90%; */
    justify-content: space-evenly;
    align-items: flex-end;
}

#emoji-trigger {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}

.hideDefaultEmojiBtn{
    display:none;
}

.cancleEmoji {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    text-decoration-color: #030942;
    text-decoration-thickness: 0.1vh;
    text-underline-offset: 0.7vh;
}


.selectedEmoji {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}

.outerCancleAndEmoji {
    width: 23vw;
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.selectedEmoji {
    position: relative;
    border: none; /* Adjust as needed */
    background: none; /* Adjust as needed */
    padding: 5px; /* Adjust padding as needed */
    display: flex;
    align-items: center;
}

.emoji {
    display: inline-block;
    vertical-align: middle;
}

.plusIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px; /* Adjust the size as needed */
    height: auto;
    transition: all 0.3s ease; /* Smooth transition for responsiveness */
}

.catTitle {
    width: 60vw;
    height: 6vh;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
    top: -1vh;
    position: relative;
}

.outerTitleAndIcon {
    display: flex;
    width: 90%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2vh;
}


.popupTitle{
    font-size:1.3rem;
    font-weight:500;
}

.closeOverlay {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#\#F4B367 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F4B367;
}
#\#AEA2F9 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #AEA2F9;
}
#\#F467AB {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F467AB;
}
#\#F47867 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F47867;
}
#\#6775F4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #6775F4;
}
#\#8DE4BF {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #8DE4BF;
}
#\#67CAF4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #67CAF4;
}
#\#FCE884 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FCE884;
}
#\#F9D3C2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F9D3C2;
}
#\#16A78D {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #16A78D;
}
#\#696969 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #696969;
}
#\#DADADA {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #DADADA;
}

.outerColors {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #EDEFF7;
    row-gap: 1.7vh;
    align-items: center;
    padding: 0.8vh 0;
    width:100%;
}


.colorsRow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.colorsContainer {
    width: 90%;
    row-gap: 1.7vh;
    display: flex;
    row-gap: 1.7vh;
    flex-direction: column;
}

.color-selected {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.16em solid #6775F4;
}

.emoji-section {
    background-color: #EDEFF7;
    border-radius: 0.6em;
}

.saveBtn {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 15.375rem;
    height: 2.75rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    /* h2 - sub titles */
    font-family: Heebo;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.paddingDiv {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    width:90%;
}


.outerColorsAndBtn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap:3vh;
}
.emoji-keyboard {
    border: 1px solid #ccc;
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
}

    .emoji-keyboard.visible {
        opacity: 1;
        visibility: visible;
        padding: 2vh 5vw;
        width: 90%;
    }

.emojiBtnAndKeyboard{
    display:flex;
    flex-direction:column;
    row-gap:1vh;
}

.emoji-categories {
    display: flex;
    justify-content: center;
    gap: 14vw;
    margin-bottom: 1.5vh;
    margin-top: 0.5vh;
}

.category-button {
    /* padding: 8px 16px; */
    font-size: 14px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, padding 0.2s;
    font-weight: 600;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 500;
}

    .category-button.active {
        text-decoration: underline;
        text-decoration-color: #6775F4;
        text-decoration-thickness: 0.4vh;
        text-underline-offset: 1vh;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-weight: 600;
    }

/* Responsive adjustments */
@media (max-width: 768px) {
    .category-button {
       
        font-size: 1rem; /* Smaller font size on smaller screens */
    }
}

@media (max-width: 480px) {
    .category-button {
       
        font-size: 1rem; /* Even smaller font size for very small screens */
    }
}

.emoji {
    font-size: 1.6em;
}

.keyBoardAndBtn{
    display:flex;
    flex-direction:column;
}

.outerBtns{
    width:100%;
}

.counter {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 1rem;
    color: #666;
    font-size: 12px;
    padding: 0vh 2vw;
}

    .counter span {
        color: inherit; /* Inherit color from parent */
        color: #636363
    }

.input-container {
    position: relative;
    width: 100%; /* Ensure full width */
}


.outerTitleAndCounter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}