.tutorialOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    overflow: hidden;
    height: 100%;
}

#expBubble {
    position: relative;
    padding: 2.8%;
    width: 19REM;
    text-align: right;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
   
}

.OnBoardingLayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    box-shadow: 0px 47px 13px 0px rgba(40, 45, 93, 0.00), 0px 30px 12px 0px rgba(40, 45, 93, 0.01), 0px 17px 10px 0px rgba(40, 45, 93, 0.05), 0px 8px 8px 0px rgba(40, 45, 93, 0.09), 0px 2px 4px 0px rgba(40, 45, 93, 0.10);
    padding: 0.2rem;
    font-size: 1rem;
    z-index: 1000;
    margin-bottom: 3.5rem;
    left: 1.2rem;
   
}

.firstIntroduction {
    width: 90%;
    height: 83%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
    color: white;
    font-size: 1.3rem;
}

#tutorialTitle {
    font-weight: 600;
    color: #030942;
    padding-top: 0.8rem;
}