@using BlazorGoogleLogin.Shared.Models.present.toShow
@using BlazorGoogleLogin.Shared.Models.present.toAdd
@using BlazorGoogleLogin.Shared.Models.present.toEdit
@using BlazorGoogleLogin.Client.Components
@using Microsoft.AspNetCore.Components.Web



    
<div class="OnBoardingLayer">
    <div id="tutorialTitle">
        <span>@tutorialTitle</span>
    </div>
    <div id="expBubble">
        <span>@expContent</span>
        @if (expContent2!="")
        {
            <span>@expContent2</span>
        }
        @if (expContent3!="")
        {
            <span>@expContent3</span>
        }
    </div>
</div>






@code {

    /// <summary>
    /// the id of the element in the page
    /// </summary>
    [Parameter]
    public string elementID { get; set; }

    [Parameter]
    public EventCallback<bool> closeOverlay { get; set; }

    /// <summary>
    /// the content in the explanation speech bubble
    /// </summary>
    string expContent = "";
    string expContent2 = "";
    string expContent3 = "";
    string tutorialTitle = "";


    //present home page: ----DONE----
    //profile button
    //month status button
    //sub cat to transactions overview page btn

    //edit sub cat:
    //default budget
    //importance

    //profile page
    //to streak page btn
    // add/edit/delete tags

    //add transaction component
    //fixedmonthly overlay
    //create/add tags

    //overdraft overlay
    //streak overlay

    //Transactions overview
    //overdraft overlay btn

    //future homepage
    //explain how saving sum is calculated


    protected override async Task OnInitializedAsync()
    {
        if (elementID.Length > 0)
        {
            switch (elementID) //tootltip content will change accordingly
            {
                case "presentHomePage":
                    tutorialTitle = " עמוד הבית של סביבת ההווה";
                    expContent = "לחיצה על האייקון בראש העמוד, תוביל לעמוד הפרופיל.";
                    expContent2 = "לחיצה על הכפתור 'מצב החודש כרגע' תציג נקודות עיקריות בתזרים החודשי בנקודת הזמן הנוכחית.";
                    expContent3 = "לחיצה על הכפתור המכיל סכומים בכל תת קטגוריה, תוביל לעמוד 'מבט על' המציג את כלל ההוצאות/ההכנסות בה.";
                    break;

                case "addSubCat":
                    tutorialTitle = "הוספת תת קטגוריה";
                    expContent = "העדיפות שתבחר תגדיר את תתי הקטגוריות שמהן ניתן להעביר תקציב בעת חריגה- רק תתי קטגוריות שיוגדרו בעדיפות 'רצון' יהוו אופציה.";
                    break;
                case "editSubCat":
                    tutorialTitle = "עריכת תת קטגוריה";
                    expContent = "שימו לב- עבור תתי הקטגוריות המובנות הוגדר תקציב ברירת מחדל, ניתן לערוך אותו כאן.";
                    expContent2 = "העדיפות שתבחר תגדיר את תתי הקטגוריות שמהן ניתן להעביר תקציב בעת חריגה- רק תתי קטגוריות שיוגדרו בעדיפות 'רצון' יהוו אופציה.";
                    break;
            }
        }
    }



}
