.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight {
    position: absolute;
    
    border-radius: 0.375rem;
    box-sizing: border-box;
    z-index: 4;
    box-shadow: 0 0 20px 12px rgba(248, 248, 248, 0.25);
}

body {
    overflow: hidden;
    height: 100%;
}

#expBubble {
    position: absolute;
    border-radius: 0.375rem;
    z-index: 1003; /* Ensure this is above the overlay and highlight */
    background-color: #F9F9F9;
    padding: 2.8%;
    width: 12rem;
    text-align: center;
    word-wrap: break-word;
}

.firstOnBoarding{
    z-index:5;
    position:relative;
}
