@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager
@inject NavigationManager Nav


@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<div>
    @*<div class="sidebar">
    <NavMenu />
    </div>
    *@

    <main>
        <article>
            @Body
        </article>
     @if (!NavManager.Uri.EndsWith("/"))
       {
            <div id="@hideNav" class="bottom-nav" @ref="navBar">
                <button class="navBtn" style="opacity:60%">מבט לעבר<img src="./css/images/past.svg" /></button>
                <div class="NavLines"> </div>
                <button class="navBtn" style="@currentPresentNavPage" @onclick="goToPresentHomePage">מבט להווה<img src="./css/images/present.svg" /></button>
                <div class="NavLines"> </div>
                <button class="navBtn" style="@currentFuturetNavPage" @onclick="goToFutureHomePage">מבט לעתיד<img src="./css/images/future.svg" /></button>
            </div>
       }
           

    </main>
</div>

@code {

    //[CascadingParameter]
    //private UserDTO user { get; set; }

    bool isScrollingDown = false;
    string hideNav => isScrollingDown ? "nav-hidden" : "bottomNav";
    string currentPresentNavPage = "";
    string currentFuturetNavPage = "" ;

    private ElementReference navBar;

    protected override async Task OnInitializedAsync()
    {
        @if (NavManager.Uri.Contains("/HomePage"))
        { 
            currentPresentNavPage = "font - weight:600; color:#6775F4;";
        }
        else
        {
            currentFuturetNavPage = "font - weight:600; color:#6775F4;";
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("navScroll.init", navBar);
        }
    }

    public void Dispose()
    {
        JSRuntime.InvokeVoidAsync("navScroll.dispose");
    }

    public void goToPresentHomePage()
    {
        
        currentPresentNavPage = "font - weight:600; color:#6775F4;";
        currentFuturetNavPage = "";
        Nav.NavigateTo("./HomePage");
    }
    
    public void goToFutureHomePage()
    {
       
        currentFuturetNavPage = "font - weight:600; color:#6775F4;";
        currentPresentNavPage = "";
        Nav.NavigateTo("./FutureHomePage");
    }
}